@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

theme {
  --primary: #1e40af;
  --secondary: #f59e0b;
  --accent: #10b981;
  --error: #ef4444;
  --warning: #f97316;
  --info: #3b82f6;
  --success: #16a34a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}